#tic-tac-toe .disable {
    text-transform:uppercase;
    font-size:30px;
    font-family:Georgia, "Times New Roman", Times, serif;
}
#tic-tac-toe #game li {
    padding: 20px;
    list-style:none;
    text-align:center;
    margin: 0px 10px 20px;
    font-size:40px;
    color:#ccc
}
#tic-tac-toe #game li.disable {
    color:#fff
}

.new {
    width: 100%;
}

.new .score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tic-tac-toe #reset {
    padding:10px 20px;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    cursor:pointer;
    text-align:center;
    text-transform:uppercase;
    outline:none;
}
.input-prepend span.pre_text {
    width:55px
}
.input-prepend .span1{
    width: 200px;
}
.input-prepend {
    margin-bottom:10px;
    display: block;
}
.clr {
    clear:both; height:0
}
#tic-tac-toe h1 {
    text-align:center;
    font-size:28px
}
#tic-tac-toe li::-moz-selection {
    background:none;
    color:#000;
}
#tic-tac-toe li::-webkit-selection {
    background:none;
    color:#000;
}
#tic-tac-toe {
    width: 1024px;
    margin: 30px auto 0px
}
.input-append .win_times {
    background:#fff;
    width:101px
}
.input-append .win_text {
    width:52px
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: flex;
    flex-flow: column;
    margin: 5px 0px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 50%;
    margin-right: -80px;
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.endgame {
    display: none;
    width: 400px;
    top: 120px;
    background-color: rgba(97, 97, 97, 0.9);
    position: absolute;
    left: 50%;
    margin-left: -200px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

.board {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 18px;
    padding: 0px 40px 20px;
    line-height: 1em;
}

.mode-game {
    text-align: center;
}